body {
  font-family: "Share Tech", sans-serif;
  font-size: larger;
  letter-spacing: 0.2rem;
}

.container {
  max-width: 1080px;
}

html {
  scroll-behavior: smooth;
}

.name,
h1::after {
  padding: 16px 20px;
  font-size: 40px;
  color: #37ebf3 !important;
  letter-spacing: 3px;
  line-height: 1px;
  outline: transparent;
  position: relative;
}

.name h1::after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  content: "Garrett Zeigler";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-clip-path: var(--slice-0);
          clip-path: var(--slice-0);
  -webkit-animation: 5s glitch infinite;
          animation: 5s glitch infinite;
  -webkit-animation-timing-function: steps(2, end);
          animation-timing-function: steps(2, end);
}

@-webkit-keyframes glitch {
  0% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(-30px, 5px);
  }
  2% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    transform: translate(-40px, 20px);
  }
  4% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(0px, -5px);
  }
  6% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    transform: translate(-30px, 30px);
  }
  8% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    transform: translate(0px, 0px);
  }
  10% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    transform: translate(-20px, 10px);
  }
  12% {
    -webkit-clip-path: var(--slice-4);
            clip-path: var(--slice-4);
    transform: translate(20px, 0px);
  }
  14% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    transform: translate(-50px, -40px);
  }
  16% {
    -webkit-clip-path: var(--slice-5);
            clip-path: var(--slice-5);
    transform: translate(-10px, 0px);
  }
  18% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(0px, 0px);
  }
  20% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(0);
  }
  100% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@keyframes glitch {
  0% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(-30px, 5px);
  }
  2% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    transform: translate(-40px, 20px);
  }
  4% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(0px, -5px);
  }
  6% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    transform: translate(-30px, 30px);
  }
  8% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    transform: translate(0px, 0px);
  }
  10% {
    -webkit-clip-path: var(--slice-3);
            clip-path: var(--slice-3);
    transform: translate(-20px, 10px);
  }
  12% {
    -webkit-clip-path: var(--slice-4);
            clip-path: var(--slice-4);
    transform: translate(20px, 0px);
  }
  14% {
    -webkit-clip-path: var(--slice-2);
            clip-path: var(--slice-2);
    transform: translate(-50px, -40px);
  }
  16% {
    -webkit-clip-path: var(--slice-5);
            clip-path: var(--slice-5);
    transform: translate(-10px, 0px);
  }
  18% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(0px, 0px);
  }
  20% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(0);
  }
  100% {
    -webkit-clip-path: var(--slice-1);
            clip-path: var(--slice-1);
    transform: translate(0);
  }
}
nav {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 1;
  max-height: 56px;
}

.navbar-toggler-icon {
  border-color: #e03d63 !important;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.89);
}

.nav-link {
  padding-right: 45px !important;
  padding-left: 45px !important;
  color: #e03d63 !important;
}

.nav-link:hover {
  background-color: #68091f !important;
  font-weight: bold;
  border-radius: 5px;
}

@media (max-width: 768px) {
  nav {
    max-height: none;
  }
}
.btn {
  color: #e03d63;
  border: 1px solid #e03d63 !important;
}

.btn:hover {
  background-color: #68091f;
  color: #e03d63;
}

.hero-img,
.background-2 {
  background-image: url(./image/joshua-reddekopp-SyYmXSDnJ54-unsplash.jpg);
  background-position: center;
  background-color: rgba(11, 8, 39, 0.68);
  background-size: cover;
  height: 100%;
  background-blend-mode: multiply;
  background-attachment: fixed;
}

.hero {
  margin-top: 180px !important;
  margin-bottom: 140px;
}

.name {
  color: #37ebf3 !important;
}

.title {
  color: #e6e624 !important;
}

.blackBackground {
  background-color: black;
}

.about-me,
.social h2 {
  color: #37ebf3;
}

#about span {
  font-size: 20px;
}

.about-info {
  color: #e6e624;
}

.portfolio {
  color: #37ebf3;
}

.aspectRatioBox {
  padding-top: 66.6666666667%;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  transition: ease-in-out 0.3s;
}

.card {
  transition: box-shadow 0.3s;
  border-radius: 10px;
  border: 1px solid #e03d63;
  background: rgb(0, 0, 0);
  float: left;
}

.card:hover {
  box-shadow: 0 0 25px rgba(33, 33, 33, 0.2);
  background-color: #68091f !important;
}
.card:hover .aspectRatioBox {
  opacity: 1;
}

.card a {
  text-decoration: none !important;
}

.card a {
  color: #e03d63;
}

.card hr {
  height: 2px;
}/*# sourceMappingURL=style.css.map */